<div class="flex bg-white ">
    <div class="flex space-x-8 mt-6">
        <p class="text-slate-500 cursor-pointer" >Transaction List</p>
        <p class="text-slate-500 cursor-pointer">Invoices</p>
        <p class="text-slate-500 cursor-pointer">Payments</p>
        <p class="text-slate-500 cursor-pointer">Credit Notes</p>
        <p class="text-slate-500 cursor-pointer">Bond Payments</p>
        <p class="text-slate-500 cursor-pointer text-emerald-500 border-b-2 border-emerald-500">Age Debators</p>
    </div>
    
</div>

<div class="bg-gray-100 p-4 flex align-items-center justify-between">
    <div class="w-25">
        <label for="sort" class="col-sm-2 control-label"> Child </label>
        <select class="form-select  mb-3" aria-label="example">
            <option selected>Select Child</option>
            <option value="1">Berlin</option>
            <option value="2">Hilsinki</option>
            <option value="3">Rio</option>
          </select>
    </div>
    <div class="w-25">
        <label for="sort" class="col-sm-2 control-label"> Payee </label>
        <select class="form-select  mb-3" aria-label="example">
            <option selected>Select payee</option>
            <option value="1">Berlin</option>
            <option value="2">Hilsinki</option>
            <option value="3">Rio</option>
          </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
         Include those parents who are in credit
        </label>
      </div>

      <div>
        <button type="button" class="btn btn-success bg-emerald-500">Success</button>
      </div>
      <div>
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="44" height="44" rx="22" fill="#EF4444"/>
            <path d="M14 14V19H14.5815M29.9381 21C29.446 17.0537 26.0796 14 22 14C18.6426 14 15.7683 16.0682 14.5815 19M14.5815 19H19M30 30V25H29.4185M29.4185 25C28.2317 27.9318 25.3574 30 22 30C17.9204 30 14.554 26.9463 14.0619 23M29.4185 25H25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
      </div>
      <div>
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="44" height="44" rx="22" fill="#EAECF7"/>
            <path d="M29 19L22 26L15 19" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
          
      </div>

</div>